<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Exobiology</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h4>Registering New Scientist</h4>
            </div>
        </div>
        <form action="/scientists" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Firstname LastName" id="name" name="name" type="text" class="validate">
                    <label for="first_name">Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Job Description" id="desc" name="desc" type="text" class="validate">
                    <label for="first_name">Description</label>
                </div>
                <div class="col s6">
                    <button class="btn" type="submit">Register
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>